body {  
    margin: 0;  
    padding: 0;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    background-color: #f4f4f4;  
    color: #f0e8e8;  
}

h1, h2, h3 {  
    color: #444;  
}   


nav a {  
    color: #fff;  
    margin-right: 15px;  
    text-decoration: none;  
}   

nav a:hover {  
    text-decoration: underline;  
    color: #4d83b8;  
}

button {  
    background-color: #0de50d;  
    color: #f0d8d8;  
    border: none;  
    padding: 10px 15px;  
    cursor: pointer;  
}          

button:hover {  
    background-color: #005bb5;  
}

.container {  
    width: 80%;  
    margin: auto;  
    overflow: hidden;  
}

.row:after {
    float: left;
    padding: 10px;
}
.left {
    width: 25%;
}

.right {
    width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

